@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --: "Space Grotesk", "sans-serif";
}

p {
  font-family: "Space Grotesk", "sans-serif";
}

a {
  font-family: "Space Grotesk", "sans-serif";
}

a.active {
  font-weight: 700;
}
